@import "../../../../scss/mixins";

.nav-header {
  background: radial-gradient(100% 100% at 0% 0%, rgba(255, 41, 129, 0.2) 0%, rgba(255, 41, 129, 0) 100%);
  padding: 0 20px;
  & a {
    padding: 40px 0 36px;
    margin-right: 0;

    @include tablet-large {
      padding-top: 46px;
    }
  }

  & button {
    padding: 25px 0 10px;
    margin: 25px 0 26px;
  }
}

.search {
  padding: 0 20px 30px;

  input {
    color: #67758e;
    border: 1px solid rgba(103, 117, 142, 0.5);
    background-color: #151d2f;
    border-radius: 8px;
    font-size: 16px;
    height: 44px;
    line-height: 20px;
    padding-left: 10px;
    width: 100%;
  }
}

.search-header {
  margin: 40px 0 36px;
  padding: 0;
  width: 500px;

  @include desktop {
    width: 335px;
  }
}

.nav-skeleton {
  background-color: #ffffff;
  padding: 0 20px;

  &__content-logo {
    padding: 40px 0 36px;
  }

  &__logo {
    width: 174px;
  }  
}

.autocomplete-skeleton {
  width: 335px;

  @include mobile {
    width: 24px;
  }
}
