@import "../../../../scss/mixins";
@import "../../../../scss//abstracts/colors/colors.scss";

.info-card {
  position: relative;

  &__caption {
    background-color: $background-color-default;

    & h2 {
      color: $text-white;
      font-size: 14px;
      line-height: 20px;
      padding: 20px 20px 10px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}