@import "../../../../scss/mixins";
@import "../../../../scss//abstracts/colors/colors.scss";

::ng-deep button:focus {
  outline: none;
}

// cdk-virtual-scroll-viewport{
//   height: 680px;
//   width: auto;
//   overflow-x: hidden;
// }

section {
  margin-top: 30px;

  &:first-child {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 60px;
  }

  & .tag {
    display: flex;
    justify-content: baseline;
    align-items: center;

    @include mobile {
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  h1 {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
    @include background-gradient;
  }
}

.section-images {
  display: grid;
  flex-wrap: wrap;
  flex-direction: column;
  grid-template-columns: repeat(4, 260px);
  grid-gap: 16px;
  overflow-y: hidden;
  margin-top: 20px;

  @include extra-large {
    grid-template-columns: repeat(10, 260px);
  }

  @include mega-extra-large {
    grid-template-columns: repeat(10, 260px);
  }

  @include large {
    grid-template-columns: repeat(10, 260px);
  }

  @include desktop {
    grid-template-columns: repeat(4, 260px);
  }

  @include tablet {
    grid-template-columns: repeat(3, 260px);
  }

  @include mobile {
    grid-template-columns: repeat(10, 260px);
  }
}

.all-view {
  color: #8292AE;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  margin-left: 60px;
  text-decoration: underline;

  @media (max-width: 360px) {
    margin-left: 0;
  }

  @media (max-width: 320px) {
    margin-left: 0;
  }
}
