@import "../../../../scss/mixins";
@import "../../../../scss//abstracts/colors/colors.scss";

::ng-deep button:focus {
  outline: none;
}

section {
  margin-top: 30px;

  &:last-of-type {
    margin-bottom: 60px;
  }

  h1 {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
    @include background-gradient;
  }
}

.section-images {
  display: grid;
  flex-wrap: nowrap;
  flex-direction: column;
  grid-template-columns: repeat(4, 260px);
  grid-gap: 16px;
  overflow-y: hidden;
  margin-top: 20px;

  @include extra-large {
    grid-template-columns: repeat(7, 260px);
  }

  @include mega-extra-large {
    grid-template-columns: repeat(8, 260px);
  }

  @include large {
    grid-template-columns: repeat(5, 260px);
  }

  @include tablet {
    grid-template-columns: repeat(3, 260px);
  }

  @include mobile {
    grid-template-columns: repeat(4, 260px);
  }
}
