<!-- <cdk-virtual-scroll-viewport #scrollViewport
  [itemSize]="49"
> -->
<!-- <div #scrollBar infinite-scroll (scrolled)="onScrollDown()"> -->
  <section *ngFor="let infographic of data; trackBy: trackByFn">
    <ng-container *ngFor="let tag of infographic | keyvalue; trackBy: trackByFn">
      <div class="tag">
        <h1>{{ tag.key }}</h1>
        <a [routerLink]="['/search', tag?.key]" class="all-view">VER TODO</a>
      </div>
      <div class="section-images">
        <div *ngFor="let item of tag.value">
          <app-card
            [data]="item?.images[0]?.url"
            [value]="item"
            (open)="openDetail($event, item, infographicNavigation)"
          ></app-card>
        </div>
      </div>
    </ng-container>
  </section>
<!-- </div> -->
<!-- </cdk-virtual-scroll-viewport> -->

<ng-container *ngIf="isOpenDetail">
  <app-overlay-navigation
    [infographicNavigation]="infographicNavigation"
    [id]="infographicId"
    (closeModal)="closeModal($event)"
  >
  </app-overlay-navigation>
</ng-container>
