<section *ngFor="let infographic of data">
  <ng-container *ngFor="let tag of infographic | keyvalue">
    <h1>{{ tag.key }}</h1>
    <div class="section-images">
      <div *ngFor="let item of tag.value">
        <app-card 
          [data]="item?.images[0]?.url"
          [value]="item"
          (open)="openDetail($event, item, infographicNavigation)"
        ></app-card>
      </div>
    </div>
  </ng-container>
</section>

<ng-container *ngIf="isOpenDetail">
  <app-overlay-navigation
    [infographicNavigation]="infographicNavigation"
    [id]="infographicId"
    (closeModal)="closeModal($event)"
  >
  </app-overlay-navigation>
</ng-container>
