.infographics {
  padding: 16px;

  & img {
    width: 160px;
  }
}

.infographics-card {
  // box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
  border-radius: 16px;
  // border: 1px #41434d solid;
}