<main class="container-fluid infographics">
  <div class="row">
    <div class="col-12 col-xl-3 d-flex justify-content-center">
      <nz-card nzHoverable class="infographics-card">        
        <img alt="example" src="./assets/html-5.png" />
      </nz-card>
    </div>
    <div class="col-12 col-xl-3 d-flex justify-content-center">
      <nz-card nzHoverable class="infographics-card">      
        <img alt="example" src="./assets/css.png" />
      </nz-card>
    </div>
    <div class="col-12 col-xl-3 d-flex justify-content-center">
      <nz-card nzHoverable class="infographics-card">
        <img alt="example" src="./assets/javascript.png" />
      </nz-card>
    </div>
    <div class="col-12 col-xl-3 d-flex justify-content-center">
      <nz-card nzHoverable class="infographics-card">
        <img alt="example" src="./assets/typescript.png" />
      </nz-card>
    </div>
  </div>
</main>
