@import "../../../../scss/mixins";

::ng-deep .slick-prev:before {
  color: #FF2981;
}

::ng-deep .slick-next:before {
  color: #FF2981;
}

::ng-deep {
  & .slick-dots li.slick-active button:before {
    color: #FF2981;
  }

  & .slick-dots li button:before {
    font-size: 10px;
    color: #FF2981;
  }


}

.main-image {
  width: auto;
  height: 560px;
  margin: 0 auto;

  @include extra-large {
    width: auto;
    height: 560px;
  }

  @include tablet-large {
    width: auto;
  }

  @include tablet {
    width: 100%;
    height: 100%;
  }
}

.detail-image {
  width: 80%;
  margin: 0 auto;

  @include extra-large {
    width: 70%;
    margin: 0 auto;
  }

  @include tablet-large {
    width: 50%;
    margin: 0 auto;
  }

  @include mobile {
    width: 70%;
    margin: 0 auto;
  }
}

:focus {
  outline: red;
}
