<div class="autocomplete-search">
  <nz-input-group
    nzSize="large"
    [nzPrefix]="suffixIcon"
    >
    <!-- [nzSuffix]="inputClearTpl" -->
    <input
      placeholder="Search"
      type="search"
      nz-input
      [(ngModel)]="inputValue"
      (ngModelChange)="onChange($event)"
      [nzAutocomplete]="auto"
    />
  </nz-input-group>
  <ng-template #suffixIcon>
    <i nz-icon nzType="search" style="color: #8292ae; font-size: 24px"></i>
  </ng-template>
  <ng-template #inputClearTpl
    ><i
      nz-icon
      class="ant-input-clear-icon"
      nzTheme="fill"
      nzType="close-circle"
      *ngIf="inputValue"
      (click)="inputClear()"
      style="color: #8292AE; font-size: 20px;"
    ></i
  ></ng-template>
  <nz-autocomplete [nzDataSource]="filteredOptions" #auto></nz-autocomplete>
</div>
