<main class="container">
  <!-- [ngClass]="{ skeleton: isLoading } -->
  <ng-container *ngIf="!isLoading; else loadingResult"> -->
    <app-section
      [data]="infographicSection"
      [infographicNavigation]="infographicNavigation.OVERLAY"
    >
    </app-section>
  </ng-container>

  <!-- <ng-template #skeleton>
    <section *ngFor="let infographic of skeletonSection">
      <ng-container *ngFor="let tag of skeletonTag">
        <div class="tag-container">
          <div class="tag">
            <nz-skeleton-element
              [nzActive]="true"
              nzType="input"
              nzSize="large"
              style="width: 97px"
            >
            </nz-skeleton-element>
          </div>
          <div class="view-all">
            <nz-skeleton-element
              [nzActive]="true"
              nzType="input"
              nzSize="large"
              style="width: 97px"
            ></nz-skeleton-element>
          </div>
        </div>
        <div class="section-images">
          <div *ngFor="let item of skeletonData">
            <div class="section-images__card">
              <nz-skeleton-element
                id='card'
                [nzActive]="true"
                nzType="input"
                nzSize="large"
              ></nz-skeleton-element>
            </div>
          </div>
        </div>
      </ng-container>
    </section>
  </ng-template> -->
  <ng-template #loadingResult>
    <div class="d-flex justify-content-center pt-5">
      <nz-spin nzSimple></nz-spin>
    </div>
  </ng-template>
</main>
