/* You can add global styles to this file, and also import other style files */
@import 'scss/mixins';
@import 'scss/components/button';
@import 'scss/abstracts/colors/colors';
@import 'scss/fonts/fonts';

body {
  background: #0D1524 ;
  font-family: 'SourceSansPro', sans-serif;
  position: relative;
  min-height: 100%;
  height: 100%;
}

