@import "../../../../scss/mixins";
@import "../../../../scss//abstracts/colors/colors.scss";

main {
  margin-bottom: 60px;
}

h1 {
  font-size: 24px;
  line-height: 40px;
  color: #8292AE;
  width: 100%;
  text-align: center;

  & span {
    font-weight: 700;
    @include background-gradient;
  }
}

.section-images {
  display: grid;
  flex-wrap: wrap;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill, 260px);
  grid-gap: 16px;
  overflow-y: hidden;
  margin-top: 20px;
}